<table border = "1">
	<thead>
		<tr>
			<th>ID</th>
			<th>Njesia</th>
			<th>Kategoria</th>
			<th>Numri Serik</th>
			<th>Emri i Produktit</th>
			<th>Data e Blerjes</th>
			<th>Norma e Amortizimit</th>
			<th>Amortizimi</th>
			<th>Vlera Neto</th>
			<th>Ngjyra</th>
			<th>Sasia</th>
			<th>Komenti</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
		</tr>
	</tbody>
</table>