<p><b>ID :</b><%= @room.id%></p>
<p><b>Emri :</b><%= @room.name%></p>
<p><b>Komenti :</b><%= @room.comment %></p>

<p><%= link_to("Kthehu tek Index", :controller => "rooms", :action => "index") %></p>