<p><b>ID :</b><%= @unit.id%></p>
<p><b>Emri :</b><%= @unit.name %></p>
<p><b>Komenti :</b><%= @unit.comment %></p>

<p><%= link_to("Kthehu tek Indexi", :controller => "units", :action => "index") %></p>
