<h1>Shfaqja e te dhenave</h1>

<p><b>Kategoria ID :</b> <%= @category.id %></p>
<p><b>Emri i Kategorise :</b> <%= @category.name %></p>
<p><b>Komenti :</b><%= @category.comment %></p>
<p><%= link_to("Kthehu tek Index", :controller => "categories", :action => "index") %></p>